:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: none;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

  --green-accent: #0aff9d;
  --darkened-green-accent: #0aff9dda;
  --background-opac: hsla(0,0%,7%,.25);
  --accent-color: #e74c3c;
  --background-dark: #080808;
  --background-mid: #151515;
  --background-light: #232323;
  --small-text-color: #ebecf3;
  --text-xs: 1.6rem;
  --text-sm: 1.8rem;
  --text-md: 2.2rem;
  --text-lg: 3.6rem;
  --text-xl: 5.6rem;
  --text-2xl: 9.6rem;

  background-color: var(--background-mid);
  height: 375vh;
  scroll-behavior:smooth;
  width: 100%;
}


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll; /* Always show the scrollbar to prevent width jumps */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  align-items: flex-start;
  min-width: 180px;
  min-height: 100vh;
  height: 200vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 420px)
{
  html{
    height: 380vw;
  }
}
